* {
  margin:0;
  padding:0;
}

html, body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
  background-color: #181818;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

h1 {
  cursor: default;
  font-weight: 700;
  font-size: 64px;
  margin: 5px;
  text-align: center;
}

h2 {
  cursor: default;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
  opacity: 85%;
  margin: 5px;
  text-align: center;
}

h3 {
  cursor: default;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #88e22b;
  margin: 64px 0px 16px 0px;
}

h4 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: #e7db74;
  margin: 10px 0;
  white-space: nowrap;
}

h5 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 0 5px;
  text-align: center;
  white-space: nowrap;
}

.inactiveModal {
  display: none;
}

.activeModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-5px);
}

.activeModal h4 {
  text-align: center;
  white-space: normal;
}

.modalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  background-color: #292929;
  max-width: 640px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .9);
}

.closeModal {
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.closeModal:hover {
  color: rgba(255, 255, 255, 0.5);
}

.interestedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: #f92472;
  border-radius: 5px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.interestedButton:hover {
  background-color: #EF065B;
}

.navBar {
  z-index: 2;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: #0D0D0D;
  opacity: 95%;
  overflow: hidden;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  height: 100%;
  padding: 0 15px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size:20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#logo:hover {
  background-color: #252525;
}

.spacer {
  flex-grow: 1;
}

.links {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0 16px;
  color: #f92472;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navLink:hover {
  background-color: #252525;
}

.icofont-navigation-menu {
  font-size: 20px;
  display: none;
  cursor: pointer;
}

#mobileNavigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #0D0D0D;
  opacity: 95%;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.expandedNav {
  transform: translateY(112px);
}

.collapsedNav {
  transform: translateY(-100%);
}

.mobileNavigationLink {
  display: flex;
  width: 100%;
}

#mobileNavigation a{
  height: 56px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width:520px) {
  .links a{display: none;}
  .icofont-navigation-menu {display: flex;}
  h1 {font-size: 42px}
  h2 {font-size: 16px}
  #logo {margin-left: 0px}
  .links {margin-right: 0px}
  .activeModal h4 {font-size: 22px;}
}

@media screen and (min-width:521px) {
  #mobileNavigation {display: none;}
}

.separatorLine {
  height: 1px;
  width: 80vw;
  background-color: #ffffff;
  opacity: 50%;
  margin-top: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 640px;
  font-family: 'Comfortaa', sans-serif;
  background-image: url('../images/titleBackground.jpg');
  background-size: cover;
  overflow: hidden;
}

.titleScroll{
  position: absolute;
  transform: translateY(35vh);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.titleScroll a {
  text-decoration: none;
  color: #ffffff;
}

.titleScroll:hover {
  transform: translateY(36vh);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 280px;
  max-width: 400px;
  margin: 20px 40px;
  padding: 20px 40px;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.product:hover {
  background-color: #252525;
}

.productBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 190px;
  position: absolute;
  opacity: 10%;
}

.icofont-dashboard-web {
  font-size: 260px;
}

.icofont-light-bulb {
  font-size: 230px;
}

.icofont-pencil-alt-2 {
  font-size: 200px;
}

.icofont-code-alt {
  font-size: 280px;
}

.productContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 171px
}

.bi-three-dots {
  font-size: 24px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px 50px 80px;
  min-width: 280px;
  max-width: 400px;
}

.icofont-ui-user-group {
  font-size: 180px;
  max-height: 140px;
  margin-bottom: 10px;
}

.icofont-brainstorming {
  font-size: 140px;
  margin-bottom: 10px;
}

.writeToUs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 80px;
}

.aboutUsScroll a {
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 30px 0;
}

.contactInfoWrapper h4{
  white-space: normal;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactInfo span {
  margin-bottom: 2px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

#footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size:20px;
  color: #ffffff;
  text-decoration: none;
}
